---
layout: default
title: Home
---
<div class="container">
  <div class="row masthead">
    <div id="header" class="span10 offset3">
      <h1> Sridatta Thatipamala </h1>
      <p id="job-title">Software engineer. Pretty cool guy.</p>
      <p id="tagline">I create things that allow people to work smarter, live better, and be happier</p>
      <ul id="contact" class="inline pretty-list">
        <li><a href="mailto:sthatipamala@gmail.com"><img src="/public/images/email.png" alt="Email" class="icon"/></a></li>
        <li><a href="http://www.linkedin.com/pub/sridatta-thatipamala/3/685/729"><img src="/public/images/linkedin.png" alt="LinkedIn" class="icon"/></a></li>
        <li><a href="http://twitter.com/sridatta"><img src="/public/images/twitter.png" alt="Twitter" class="icon"/></a></li>
      </ul>
    </div> <!-- .header -->
  </div> <!-- .row -->

  <div id="showcase" class="row">
    <div id="blog" class="span10 offset3">
      <ul class="pretty-list">
        {% for page in site.posts %}
          <li>
            <h2 class="title"><a href="{{ page.url }}">{{ page.title }}</a></h2> 
            <p class="byline">
              {{ page.date | date: '%B %d, %Y' }}
            </p>
            <div class="postbody">
                {{ if page.tagline }}
                  {{ page.tagline }}
                {{ else }}
                  {{page.content | strip_html | truncatewords:35}}
                {{ endif }}
              </div>
          </li>
        {% endfor %}
      </ul>
    </div> <!-- #blog -->

  </div> <!-- #showcase -->
</div>
