.highlight{background-color:#002b36;color:#93a1a1}.highlight .c{color:#586e75}.highlight .err,.highlight .g{color:#93a1a1}.highlight .k{color:#859900}.highlight .l,.highlight .n{color:#93a1a1}.highlight .o{color:#859900}.highlight .x{color:#cb4b16}.highlight .p{color:#93a1a1}.highlight .cm{color:#586e75}.highlight .cp{color:#859900}.highlight .c1{color:#586e75}.highlight .cs{color:#859900}.highlight .gd{color:#2aa198}.highlight .ge{color:#93a1a1;font-style:italic}.highlight .gr{color:#dc322f}.highlight .gh{color:#cb4b16}.highlight .gi{color:#859900}.highlight .go,.highlight .gp{color:#93a1a1}.highlight .gs{color:#93a1a1;font-weight:700}.highlight .gu{color:#cb4b16}.highlight .gt{color:#93a1a1}.highlight .kc{color:#cb4b16}.highlight .kd{color:#268bd2}.highlight .kn,.highlight .kp{color:#859900}.highlight .kr{color:#268bd2}.highlight .kt{color:#dc322f}.highlight .ld{color:#93a1a1}.highlight .m,.highlight .s{color:#2aa198}.highlight .na{color:#93a1a1}.highlight .nb{color:#B58900}.highlight .nc{color:#268bd2}.highlight .no{color:#cb4b16}.highlight .nd{color:#268bd2}.highlight .ne,.highlight .ni{color:#cb4b16}.highlight .nf{color:#268bd2}.highlight .nl,.highlight .nn,.highlight .nx,.highlight .py{color:#93a1a1}.highlight .nt,.highlight .nv{color:#268bd2}.highlight .ow{color:#859900}.highlight .w{color:#93a1a1}.highlight .mf,.highlight .mh,.highlight .mi,.highlight .mo{color:#2aa198}.highlight .sb{color:#586e75}.highlight .sc{color:#2aa198}.highlight .sd{color:#93a1a1}.highlight .s2{color:#2aa198}.highlight .se{color:#cb4b16}.highlight .sh{color:#93a1a1}.highlight .si,.highlight .sx{color:#2aa198}.highlight .sr{color:#dc322f}.highlight .s1,.highlight .ss{color:#2aa198}.highlight .bp,.highlight .vc,.highlight .vg,.highlight .vi{color:#268bd2}.highlight .il{color:#2aa198}

pre, code {
  background: inherit;
}

body {
  padding-top: 10px;
  font-size:17px;
  line-height:1.5em;
  margin:0;
  padding:0;
  color: #333333;
  font-family: adelle, Georgia, serif;
}

a {
  color: #a82300;
}

.header h1 {
  font-size: 2.813em;
  text-align: center;
}

.masthead {
}

h1,h2,h3,h4 {
  color:#333;
  line-height:1.2em;
}

h1 {
  font-size:1.8em;
  margin:.8em 0 .2em;
}

h2 {
  font-size:1.5em;
  margin:1.2em 0 .6em;
}

h3 {
  font-size:1.3em;
  color:#999;
  margin:1.2em 0 .6em;
}

h4 {
  font-size:1.1em;
  color:#999;
  margin:1.2em 0 .6em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Cabin", sans-serif;
}

p {
  font-size:1em;
  line-height:1.6em;
  margin:1em 0;
}

p code {
  font-size:12px;
  background-color:#eee;
  border:1px solid #999;
  border-radius:3px;
  white-space:nowrap;
  padding:2px 4px;
}

blockquote {
  border:1px solid #ccc;
  background-color:#F7F7F7;
  font-style:italic;
  color:#555;
  padding:.7em 2em;
}

ul {
  margin-top:.5em;
  margin-bottom:1.5em;
}

abbr[title] {
  border-bottom:1px dotted #999;
}

img,iframe,object,embed,audio,video {
  display:block;
  max-width:100%;
  margin:20px auto;
}

#headshot {
  display: block;
  max-width:100%;
}

#header h1 {
  font-size: 54px;
  font-weight: 700;
}

#job-title {
  font-size:18px;
  color:#BFBFBF;
}

#tagline {
  font-size:24px;
  line-height:30px;
}

ul.inline {
  list-style: none;
}

ul.inline > li {
  display:inline;
}

ul.inline img {
  display: inline-block;
}

ul.pretty-list {
  list-style: none;
  margin: 20px 0 30px 0;
  padding:0;
}

ul.pretty-list > li {
  margin: 20px 0;
}

p.byline {
  margin:0;
}

img.icon {
  margin:2px 10px 0 0;
  -webkit-transition: margin 0.5s ease-out;
  -moz-transition: margin 0.5s ease-out;
  -o-transition: margin 0.5s ease-out;
}

img.icon:hover {
  margin-top:0px;
}

.syntaxhighlighter .container {
  width: 100%;
}

.syntaxhighlighter code {
  background-color: inherit;
}

footer {
  width: 100%;
  background-color: #ecf0f1;
  border-bottom: 4px solid rgb(233,237,238);
}

footer h2 {
  font-size: 1.2em;
  color: #333;
}

footer p {
  font-size: 0.8em;
}

