---
layout: default
---
<div class="container">
  <div class="row">
    <div id="content" class="span16"> 
      <div class="row">
        <div class="header">
          <a href="{{page.url}}"><h1>{{page.title}}</h1></a>
        </div>
      </div>

      <div class="row">
        <div class="blog-content span10 offset3">
          {{ content }}
        </div> 
      </div>

    </div>
  </div>
</div>

<footer> 
  <div class="container">
    <div class="row">
      <div class="blog-content span10 offset3">
        <h2>by Sridatta Thatipamala</h2>
        <p>
          Sridatta is a self-proclaimed technologist, humorist and Renaissance man.
          Few others agree with this proclamation.
        </p>
      </div>
    </div>
  </div>
</footer>

